.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.202148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.172852;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.202148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.900879;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.859375;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.172852;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-0.314800px;}
.ls6{letter-spacing:-0.216800px;}
.ls7{letter-spacing:-0.109600px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.059600px;}
.ls5{letter-spacing:0.088400px;}
.ls4{letter-spacing:0.100000px;}
.ls2{letter-spacing:0.165200px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.179520px;}
._0{width:1.452800px;}
._3{width:7.303040px;}
._7{width:17.360160px;}
._8{width:37.289280px;}
._2{width:39.409920px;}
._6{width:58.582400px;}
._4{width:83.619040px;}
._9{width:121.193280px;}
._5{width:134.139840px;}
._a{width:566.123840px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:42.240000px;}
.fs1{font-size:44.160000px;}
.fs3{font-size:56.160000px;}
.fs0{font-size:63.840000px;}
.y1{bottom:0.000000px;}
.y8{bottom:3.000000px;}
.y6{bottom:3.960000px;}
.y7{bottom:16.440000px;}
.y5{bottom:16.800000px;}
.y4{bottom:29.880000px;}
.y2d{bottom:79.824000px;}
.y2c{bottom:95.304000px;}
.y2b{bottom:110.780000px;}
.y56{bottom:115.820000px;}
.y2a{bottom:126.260000px;}
.y55{bottom:131.300000px;}
.y29{bottom:141.620000px;}
.y54{bottom:146.660000px;}
.y28{bottom:158.300000px;}
.y53{bottom:162.140000px;}
.y52{bottom:177.620000px;}
.y27{bottom:177.980000px;}
.y0{bottom:191.500000px;}
.y51{bottom:193.010000px;}
.y26{bottom:197.930000px;}
.y50{bottom:208.490000px;}
.y4f{bottom:223.970000px;}
.y25{bottom:226.010000px;}
.y4e{bottom:239.330000px;}
.y24{bottom:245.210000px;}
.y4d{bottom:254.810000px;}
.y23{bottom:260.690000px;}
.y4c{bottom:270.290000px;}
.y22{bottom:277.370000px;}
.y4b{bottom:285.650000px;}
.y21{bottom:296.930000px;}
.y4a{bottom:301.130000px;}
.y49{bottom:316.610000px;}
.y20{bottom:327.890000px;}
.y48{bottom:333.290000px;}
.y1f{bottom:343.370000px;}
.y2e{bottom:346.500000px;}
.y1e{bottom:358.850000px;}
.y47{bottom:363.170000px;}
.y1d{bottom:374.210000px;}
.y46{bottom:378.670000px;}
.y1c{bottom:389.710000px;}
.y45{bottom:394.030000px;}
.y1b{bottom:405.190000px;}
.y44{bottom:409.510000px;}
.y1a{bottom:420.550000px;}
.y43{bottom:424.990000px;}
.y19{bottom:436.030000px;}
.y42{bottom:440.350000px;}
.y18{bottom:451.510000px;}
.y41{bottom:455.830000px;}
.y17{bottom:466.990000px;}
.y40{bottom:471.310000px;}
.y16{bottom:482.350000px;}
.y3f{bottom:486.670000px;}
.y15{bottom:499.030000px;}
.y3e{bottom:503.350000px;}
.y14{bottom:520.990000px;}
.y3d{bottom:523.150000px;}
.y13{bottom:534.430000px;}
.y12{bottom:547.870000px;}
.y3c{bottom:553.030000px;}
.y11{bottom:561.790000px;}
.y3b{bottom:568.420000px;}
.y10{bottom:575.260000px;}
.y3a{bottom:583.900000px;}
.yf{bottom:588.700000px;}
.y39{bottom:599.380000px;}
.ye{bottom:602.740000px;}
.y38{bottom:614.740000px;}
.yd{bottom:616.180000px;}
.y37{bottom:630.220000px;}
.yc{bottom:632.140000px;}
.y36{bottom:645.700000px;}
.yb{bottom:648.820000px;}
.y35{bottom:661.060000px;}
.ya{bottom:669.820000px;}
.y34{bottom:676.540000px;}
.y9{bottom:685.180000px;}
.y33{bottom:692.020000px;}
.y3{bottom:695.620000px;}
.y32{bottom:707.380000px;}
.y31{bottom:722.860000px;}
.y30{bottom:738.340000px;}
.y2{bottom:754.680000px;}
.y2f{bottom:755.040000px;}
.h3{height:40.320000px;}
.h5{height:42.013125px;}
.h4{height:43.922812px;}
.h7{height:45.216562px;}
.h8{height:45.906562px;}
.h6{height:57.503672px;}
.h2{height:65.367422px;}
.h9{height:423.500000px;}
.h1{height:555.000000px;}
.h0{height:841.920000px;}
.w3{width:231.020000px;}
.w4{width:231.170000px;}
.w1{width:454.500000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.x1{left:0.000009px;}
.x4{left:5.400000px;}
.x3{left:66.624000px;}
.x0{left:70.500000px;}
.x6{left:72.023991px;}
.x7{left:90.023991px;}
.x2{left:237.049991px;}
.x5{left:297.650000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-0.419733pt;}
.ls6{letter-spacing:-0.289067pt;}
.ls7{letter-spacing:-0.146133pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.079467pt;}
.ls5{letter-spacing:0.117867pt;}
.ls4{letter-spacing:0.133333pt;}
.ls2{letter-spacing:0.220267pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.572693pt;}
._0{width:1.937067pt;}
._3{width:9.737387pt;}
._7{width:23.146880pt;}
._8{width:49.719040pt;}
._2{width:52.546560pt;}
._6{width:78.109867pt;}
._4{width:111.492053pt;}
._9{width:161.591040pt;}
._5{width:178.853120pt;}
._a{width:754.831787pt;}
.fs2{font-size:56.320000pt;}
.fs1{font-size:58.880000pt;}
.fs3{font-size:74.880000pt;}
.fs0{font-size:85.120000pt;}
.y1{bottom:0.000000pt;}
.y8{bottom:4.000000pt;}
.y6{bottom:5.280000pt;}
.y7{bottom:21.920000pt;}
.y5{bottom:22.400000pt;}
.y4{bottom:39.840000pt;}
.y2d{bottom:106.432000pt;}
.y2c{bottom:127.072000pt;}
.y2b{bottom:147.706667pt;}
.y56{bottom:154.426667pt;}
.y2a{bottom:168.346667pt;}
.y55{bottom:175.066667pt;}
.y29{bottom:188.826667pt;}
.y54{bottom:195.546667pt;}
.y28{bottom:211.066667pt;}
.y53{bottom:216.186667pt;}
.y52{bottom:236.826667pt;}
.y27{bottom:237.306667pt;}
.y0{bottom:255.333333pt;}
.y51{bottom:257.346667pt;}
.y26{bottom:263.906667pt;}
.y50{bottom:277.986667pt;}
.y4f{bottom:298.626667pt;}
.y25{bottom:301.346667pt;}
.y4e{bottom:319.106667pt;}
.y24{bottom:326.946667pt;}
.y4d{bottom:339.746667pt;}
.y23{bottom:347.586667pt;}
.y4c{bottom:360.386667pt;}
.y22{bottom:369.826667pt;}
.y4b{bottom:380.866667pt;}
.y21{bottom:395.906667pt;}
.y4a{bottom:401.506667pt;}
.y49{bottom:422.146667pt;}
.y20{bottom:437.186667pt;}
.y48{bottom:444.386667pt;}
.y1f{bottom:457.826667pt;}
.y2e{bottom:462.000000pt;}
.y1e{bottom:478.466667pt;}
.y47{bottom:484.226667pt;}
.y1d{bottom:498.946667pt;}
.y46{bottom:504.893333pt;}
.y1c{bottom:519.613333pt;}
.y45{bottom:525.373333pt;}
.y1b{bottom:540.253333pt;}
.y44{bottom:546.013333pt;}
.y1a{bottom:560.733333pt;}
.y43{bottom:566.653333pt;}
.y19{bottom:581.373333pt;}
.y42{bottom:587.133333pt;}
.y18{bottom:602.013333pt;}
.y41{bottom:607.773333pt;}
.y17{bottom:622.653333pt;}
.y40{bottom:628.413333pt;}
.y16{bottom:643.133333pt;}
.y3f{bottom:648.893333pt;}
.y15{bottom:665.373333pt;}
.y3e{bottom:671.133333pt;}
.y14{bottom:694.653333pt;}
.y3d{bottom:697.533333pt;}
.y13{bottom:712.573333pt;}
.y12{bottom:730.493333pt;}
.y3c{bottom:737.373333pt;}
.y11{bottom:749.053333pt;}
.y3b{bottom:757.893333pt;}
.y10{bottom:767.013333pt;}
.y3a{bottom:778.533333pt;}
.yf{bottom:784.933333pt;}
.y39{bottom:799.173333pt;}
.ye{bottom:803.653333pt;}
.y38{bottom:819.653333pt;}
.yd{bottom:821.573333pt;}
.y37{bottom:840.293333pt;}
.yc{bottom:842.853333pt;}
.y36{bottom:860.933333pt;}
.yb{bottom:865.093333pt;}
.y35{bottom:881.413333pt;}
.ya{bottom:893.093333pt;}
.y34{bottom:902.053333pt;}
.y9{bottom:913.573333pt;}
.y33{bottom:922.693333pt;}
.y3{bottom:927.493333pt;}
.y32{bottom:943.173333pt;}
.y31{bottom:963.813333pt;}
.y30{bottom:984.453333pt;}
.y2{bottom:1006.240000pt;}
.y2f{bottom:1006.720000pt;}
.h3{height:53.760000pt;}
.h5{height:56.017500pt;}
.h4{height:58.563750pt;}
.h7{height:60.288750pt;}
.h8{height:61.208750pt;}
.h6{height:76.671562pt;}
.h2{height:87.156563pt;}
.h9{height:564.666667pt;}
.h1{height:740.000000pt;}
.h0{height:1122.560000pt;}
.w3{width:308.026667pt;}
.w4{width:308.226667pt;}
.w1{width:606.000000pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.x1{left:0.000012pt;}
.x4{left:7.200000pt;}
.x3{left:88.832000pt;}
.x0{left:94.000000pt;}
.x6{left:96.031988pt;}
.x7{left:120.031988pt;}
.x2{left:316.066655pt;}
.x5{left:396.866667pt;}
}
